USE [master]
GO
/****** Object:  Database [Driver]    Script Date: 07.02.2022 13:18:51 ******/
CREATE DATABASE [Driver]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Driver', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Driver.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Driver_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Driver_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Driver].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Driver]
GO
/****** Object:  Table [dbo].[User]    Script Date: 07.02.2022 13:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] NOT NULL,
	[Логин] [nvarchar](50) NOT NULL,
	[Пароль] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vodila]    Script Date: 07.02.2022 13:18:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vodila](
	[ID] [int] NOT NULL,
	[Фамилия] [nvarchar](50) NOT NULL,
	[Имя] [nvarchar](50) NOT NULL,
	[Отчество] [nvarchar](50) NOT NULL,
	[Паспорт] [nvarchar](50) NOT NULL,
	[Адрес регистрации] [nvarchar](50) NOT NULL,
	[Адрес проживания] [nvarchar](50) NOT NULL,
	[Место работы] [nvarchar](50) NULL,
	[Должность] [nvarchar](50) NULL,
	[Мобильный телефон] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Фотография] [image] NULL,
	[Замечания] [nvarchar](50) NULL,
 CONSTRAINT [PK_Vodila] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Vodila] ([ID], [Фамилия], [Имя], [Отчество], [Паспорт], [Адрес регистрации], [Адрес проживания], [Место работы], [Должность], [Мобильный телефон], [Email], [Фотография], [Замечания]) VALUES (1, N'Alonso', N'Hopkins', N'Caleb', N'2303160716', N'452 Cobblestone St.', N'452 Cobblestone St.', N'Global Gillette', N'Reporter', N'9703838933', N'skippy@icloud.com', NULL, NULL)
INSERT [dbo].[Vodila] ([ID], [Фамилия], [Имя], [Отчество], [Паспорт], [Адрес регистрации], [Адрес проживания], [Место работы], [Должность], [Мобильный телефон], [Email], [Фотография], [Замечания]) VALUES (2, N'Kaydence', N'Sellers', N'Susannah', N'5563160745', N'Hyattsville, MD 20782', N'Hyattsville, MD 20782', N'Coca-Cola', N'Elementary School Teacher', N'8677084447', N'isotopian@sbcglobal.net', NULL, NULL)
INSERT [dbo].[Vodila] ([ID], [Фамилия], [Имя], [Отчество], [Паспорт], [Адрес регистрации], [Адрес проживания], [Место работы], [Должность], [Мобильный телефон], [Email], [Фотография], [Замечания]) VALUES (3, N'Finnegan', N'Bray', N'Brighton', N'3719717453', N'9648 Philmont Lane', N'9648 Philmont Lane', N'Harley-Davidson Motor Company', N'Childcare worker', N'2214287850', N'isaacson@att.net', NULL, NULL)
GO
USE [master]
GO
